body{
    padding: auto;
    border: 0ch;
    margin: 30px;
    font-size: 100%;
    text-align:right;
    align-items: flex-end;
}

#card-group{
    margin-left: 200px;
    margin-right: 200px;
}



#navbarNav2{
    
justify-content: center;
background-color:#003399);
}

#row1{
    justify-content: center;
}




